.portfolio-items-wrapper {
  display: grid;
  padding: 20px;

  .portfolio-item-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 20px;

    .portfolio-item-wrapper-info {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;

      .subtitle {
        font-family: "Titillium Web", sans-serif;
        color: $charcoal;
        // padding: 5px 0px;
        width: 100%;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid $teal;
        background-color: transparent;
        transition: 0.5 all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;

        &:focus {
          outline: none;
          border-bottom: 1px solid $dark-teal;
        }
      }
    }

    .portfolio-item-wrapper-right {
      cursor: pointer;
      @include base-btn;
      text-decoration: none;
      padding: 10px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}